<% layout('./layout/boilerplate') %>

<section class="banner-area organic-breadcrumb">
  <div class="container">
    <div
      class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end"
    >
      <div class="col-first">
        <h1>Shopping Cart</h1>
        <nav class="d-flex align-items-center">
          <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
          <a href="category.html">Cart</a>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- End Banner Area -->

<!--================Cart Area =================-->
<% if(cartDetails.length>0){ %> 
<section class="cart_area">
  <div class="container">
    <div class="cart_inner">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Product</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            <% for( product of cartDetails){ %> 
              <% for(products of product.products){ %> 
            <tr id="<%= product.cart_item.productId %>">
              <td>
                <div class="media">
                  <div class="d-flex">
                    <a href="/product?id=<%= products._id %>">
                      <div style="background-image: url(<%=products.image[0].url%>);width: 100px;height: 150px;
                      background-size: contain;background-repeat: no-repeat;"></div>
                  </a>
                  </div>
                  <div class="media-body">
                    <p><%= products.product_name %> </p>
                  </div>
                </div>
              </td>
              <td>
                <h5><%= products.finalPrice %></h5>
              </td>
              <td>
                <div class="product_count">
                  <input
                    type="number"
                    name="qty"
                    id="sst<%= products._id %>"
                    
                    value="<%= product.cart_item.product_quantity %>"
                    title="Quantity:"
                    class="input-text qty"
                    readonly
                  />
                  <button
                  
                    onclick="quantity('<%= products._id %>','<%= products.finalPrice %>','<%= product._id %>','1')"
                    class="increase items-count"
                    type="button"
                  >
                  
                    <i class="lnr lnr-chevron-up"></i>
                  </button>
                  <button
                    onclick="quantity('<%= products._id %>','<%= products.finalPrice %>','<%= product._id %>','-1')"
                    class="reduced items-count"
                    type="button"
                  >
                 
                    <i class="lnr lnr-chevron-down"></i>
                  </button>
                </div>
              </td>
              <td>
                <h5 id="total<%= products._id %>"><%= product.cart_item.product_quantity * products.finalPrice %></h5>
              </td>
              <td><a style="font-size: xx-large; cursor: pointer;" onclick="deleted('<%= product.cart_item.productId %>')">&times</a></td>
            </tr>
            <% }} %> 
            
            
            <tr>
              <td></td>
              <td></td>
              <td>
                <h5>Subtotal</h5>
              </td>
              <td>
                <h5 id="subtotal"><%= price %> </h5>
              </td>
            </tr>
            
            <tr class="out_button_area">
              <td></td>
              <td></td>
              <td></td>
              <td>
                <div class="checkout_btn_inner d-flex align-items-center">
                  <a class="gray_btn" href="/">Continue Shopping</a>
                  <a class="primary-btn" href="/checkout">Proceed to checkout</a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
<% }else{ %> 
  <section class="cart_area">
    <div class="container">
      <div class="cart_inner ">
        <div class="col-12 row">
        <div class="col-12 d-flex justify-content-center align-items-center">

          <img src="img/empty-cart.gif" alt="cart empty">
        </div>
        <div class="col-12 d-flex justify-content-center align-items-center">

          <h1 style="font-weight: 600;margin-top: 20px;">YOUR CART IS EMPTY</h1>
        </div>
        <div class="col-12 d-flex justify-content-center align-items-center">
          <a href="/mobile" class="primary-btn mt-3">Continue Shopping</a>
        </div>
      </div>
        </div>
        </div>
        </section>
  <% } %> 
<!--================End Cart Area =================-->
<script>
    
  function quantity(productId,price,cartId,count){
      let pid = String(productId)
      let countn = Number(count)
      const id = document.getElementById("sst"+pid)
      const totalId = document.getElementById("total"+pid)
      const subtotal = document.getElementById("subtotal");
      let qty =Number(id.value);
      let value = Number(subtotal.innerHTML);
      let pricee = Number(price)
      
    if(qty+countn>0){
      
      fetch("/quantityChange",{
          method:"post",
          headers:{ 'Content-Type': 'application/json'},
          body: JSON.stringify({ productId,cartId,count,qty }) 
      }).then(res =>res.json()).then(data=>{
          
          if(data.change == true){
            
            if(countn==1){
            

             ++qty
             total=price*qty
  
             totalId.innerHTML=total;
             subtotal.innerHTML= value+pricee
             
             id.value++

            }else if(countn == -1){
              
             --qty
             total=price*qty
             totalId.innerHTML=total;
             subtotal.innerHTML= value-pricee
              id.value--;
            }
             

             
          }
      })
    }
  }

function deleted(productId) {
  let pid = String(productId)
  
        const id = document.getElementById(pid)
        let value = Number(subtotal.innerHTML);
        
        // console.log(document.getElementById("total"+pid).innerHTML);
        let pricee = Number(document.getElementById("total"+pid).innerHTML)
        

        

  fetch("/cartDelete",{
            method:"post",
            headers:{ 'Content-Type': 'application/json'},
            body: JSON.stringify({productId}) 
        }).then(res =>res.json()).then(data=>{
            
            if(data.deleted == true){

              value=value-pricee
              console.log(value);
              subtotal.innerHTML= value
              
               id.remove()

            }
        })
}

</script>
