<% layout('./layout/boilerplate') %>

    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Shop Category page</h1>
                    <nav class="d-flex align-items-center">
                        <a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="/mobile">Mobiles</a>

                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-5">
                <div class="sidebar-categories">
                    <div class="head">Browse Categories</div>
                    <ul class="main-categories">
                        <% for(cata of category) { %>
                            <li class="main-nav-list"><a style="cursor: pointer;"
                                    onclick="selectCategory('<%= cata._id %>')"><span
                                        class="lnr lnr-arrow-right"></span>
                                    <%= cata.category %>
                                </a>

                            </li>

                            <% } %>

                    </ul>
                </div>
                <div class="sidebar-filter mt-50">
                    <div class="top-filter-head">Product Filters</div>
                    <form id="form">
                        <div class="common-filter">
                            <div class="head">Brands</div>

                            <ul>
                                <% for(brands of brand ){ %>
                                    <li class="filter-list"><input class="pixel-radio" type="radio" name="brand" onclick="filter()" value="<%= brands._id %>" data-waschecked="false"><label>
                                            <%= brands.brand %>
                                        </label></li>
                                    <% } %>

                            </ul>

                        </div>
                        <div class="common-filter">
                            <div class="head">RAM</div>

                            <ul>
                                <% const ram = [1,2,4,6,8,12] %> 
                                <% for( i of ram){ %> 
                                <li class="filter-list"><input class="pixel-radio" type="radio" name="ram" onclick="filter()" value="<%= i %>" data-waschecked="false"><label for="<%= i %>gb"><%= i %>  GB</label></li>
                                        <% } %> 
                                <!-- <li class="filter-list"><input class="pixel-radio" type="radio" id="balckleather"
                                        name="color"><label for="2gb">2 GB</label></li>
                                <li class="filter-list"><input class="pixel-radio" type="radio" id="blackred"
                                        name="color"><label for="4gb">4 GB</label></li>
                                <li class="filter-list"><input class="pixel-radio" type="radio" id="gold"
                                        name="color"><label for="6gb">6 GB</label></li>
                                <li class="filter-list"><input class="pixel-radio" type="radio" id="spacegrey"
                                        name="color"><label for="8gb">8 GB</label></li> -->
                            </ul>

                        </div>
                        <div class="common-filter">
                            <div class="head">Internal Storage</div>
                            
                                <ul>
                                    <% const mem = [16,32,64,128] %> 
                                    <% for(i of mem){ %> 
                                    <li class="filter-list"><input class="pixel-radio" type="radio" onclick="filter()"
                                            name="memory" value="<%= i %>" data-waschecked="false"><label for="<%= i %> gb"><%= i %>  GB</label></li>
                                            <% } %> 
                                    <!-- <li class="filter-list"><input class="pixel-radio" type="radio" id="balckleather"
                                            name="color"><label for="32gb">32 GB</label></li>
                                    <li class="filter-list"><input class="pixel-radio" type="radio" id="blackred"
                                            name="color"><label for="64gb">64 GB</label></li>
                                    <li class="filter-list"><input class="pixel-radio" type="radio" id="gold"
                                            name="color"><label for="128gb">128 GB</label></li> -->

                                </ul>
                           
                        </div>
                        <div class="common-filter">
                            <div class="head">Discount</div>
                            
                                <ul>
                                    <% const dis = [10,20,30,40] %> 
                                    <% for( i of dis){ %> 
                                    <li class="filter-list"><input class="pixel-radio" type="radio" onclick="filter()"
                                            name="discount" value="<%= i %>" data-waschecked="false"><label for="<%= i %> ">above <%= i %> %</label></li>
                                            <% } %> 
                                    <!-- <li class="filter-list"><input class="pixel-radio" type="radio" id="balckleather"
                                            name="color"><label for="20">above 20%</label></li>
                                    <li class="filter-list"><input class="pixel-radio" type="radio" id="blackred"
                                            name="color"><label for="30">above 30%</label></li>
                                    <li class="filter-list"><input class="pixel-radio" type="radio" id="gold"
                                            name="color"><label for="40">above 40%</label></li> -->

                                </ul>
                         
                        </div>
                        <div class="common-filter">
                            <div class="head">Price</div>
                            <ul>
                                <% const rs = [10000,20000,50000] %> 
                                <% for(i of rs){ %> 
                                <li class="filter-list"><input class="pixel-radio" type="radio" onclick="filter()"
                                        name="price" value="<%= i %>" data-waschecked="false"><label for="<%= i %> ">Below ₹<%= i %> </label></li>
                                        <% } %> 
                                <!-- <li class="filter-list"><input class="pixel-radio" type="radio" id="balckleather"
                                        name="color"><label for="20">Below ₹20000</label></li>
                                <li class="filter-list"><input class="pixel-radio" type="radio" id="blackred"
                                        name="color"><label for="30">Below ₹50000</label></li> -->
                                

                            </ul>
                        </div>
                        <!-- <div class="common-filter">
                            <button type="submit" class="primary-btn" style="border-radius: 0; border: none; width: 100%;">SAVE</button>
                        </div> -->
                    
                </div>
            </div>
            <div class="col-xl-9 col-lg-8 col-md-7">
                <!-- Start Filter Bar -->
                <div class="filter-bar d-flex flex-wrap align-items-center">
                    <div class="sorting">
                        <select id="sort" name="sort" onchange="filter()">
                            <option value="1">Newest First</option>
                            <option value="2">Price -- Low to High</option>
                            <option value="3">Price -- High to Low</option>

                        </select>
                    </div>

                </div>
            </form>
                <!-- End Filter Bar -->
                <!-- Start Best Seller -->
                <section class="lattest-product-area pb-40 category-list">
                    <div class="row" id="products">
                        <!-- single product -->
                        <% for( products of product){ %>
                            <div class="col-lg-4 col-md-6">
                                <div class="single-product">

                                    <a href="/product?id=<%= products._id %>">
                                        <div style="background-image: url(<%=products.image[0].url%>);width: 240px;height: 330px;
                            background-size: contain;background-repeat: no-repeat;"></div>
                                    </a>

                                    <div class="product-details mt-3">
                                        <h6>
                                            <%= products.product_name %>
                                        </h6>
                                        <div class="price">
                                            <h6>₹ <%= products.finalPrice %>
                                            </h6>
                                            <h6 class="l-through">₹ <%= products.price %>
                                            </h6>
                                        </div>
                                        <div class="prd-bottom">

                                            <a class="social-info" onclick="cart('<%= products._id %>')">
                                                <span class="ti-bag"></span>
                                                <p class="hover-text">add to bag</p>
                                            </a>
                                            <a class="social-info" onclick="wishlist('<%= products._id %>')">
                                                <span class="lnr lnr-heart"></span>
                                                <p class="hover-text">Wishlist</p>
                                            </a>

                                            <a href="/product?id=<%= products._id %>" class="social-info">
                                                <span class="lnr lnr-move"></span>
                                                <p class="hover-text">view more</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                                <!-- single product -->

                    </div>
                </section>
                <!-- End Best Seller -->
                <!-- Start Filter Bar -->

                <!-- End Filter Bar -->
            </div>
        </div>
    </div>


    <!-- Start related-product Area -->

    <!-- End related-product Area -->
    <script>
        function wishlist(productId) {
            fetch("/wishlistPost", {
                method: "post",
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ productId })
            }).then(res => res.json()).then(data => {

                if (data.login == false) {

                    window.location = "/login";
                }else{
                    swal("Successfully added to wishlist","")
                }
            })
        }
    </script>

    <script>
        function cart(productId) {

            fetch("/cartAdd", {
                method: "post",
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ productId })
            }).then(res => res.json()).then(data => {

                if (data.login == false && data.stock.stock == 0) {

                    swal("Out Of Stock!");
                } else if (data.login == false) {
                    window.location = "/login";
                }else{
                    swal("Successfully added to cart","")
                }
            })
        }
    </script>
    <script>
        function sort() {
            const select = document.getElementById("sort").value
            const datas = document.getElementById("products")
            let allProducts = '';
            fetch("/sort", {
                method: "post",
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ select })
            }).then(res => res.json()).then(data => {
                for (products of data.product) {
                    allProducts += `<div class="col-lg-4 col-md-6">
                        <div class="single-product">
                            
                         <a href="/product?id=${products._id}">
                            <div style="background-image: url(${products.image[0].url});width: 240px;height: 330px;
                            background-size: contain;background-repeat: no-repeat;"></div>
                        </a>

                            <div class="product-details mt-3">
                                <h6>${products.product_name} </h6>
                                <div class="price">
                                    <h6>₹ ${products.finalPrice}</h6>
                                    <h6 class="l-through">₹ ${products.price} </h6>
                                </div>
                                <div class="prd-bottom">

                                    <a class="social-info" onclick="cart('${products._id}')">
                                        <span class="ti-bag"></span>
                                        <p class="hover-text">add to bag</p>
                                    </a>
                                    <a class="social-info" onclick="wishlist('${products._id}')">
                                        <span class="lnr lnr-heart"></span>
                                        <p class="hover-text">Wishlist</p>
                                    </a>
                               
                                    <a href="/product?id=<${products._id}" class="social-info">
                                        <span class="lnr lnr-move"></span>
                                        <p class="hover-text">view more</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>`
                    datas.innerHTML = allProducts
                }
            })

        }
    </script>
    <script>
        function selectCategory(catagoryId) {
            const datas = document.getElementById("products")
            let allProducts = '';
            fetch("/catagorySort", {
                method: "post",
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ catagoryId })
            }).then(res => res.json()).then(data => {
                for (products of data.product) {
                    allProducts += `<div class="col-lg-4 col-md-6">
                        <div class="single-product">
                            
                         <a href="/product?id=${products._id}">
                            <div style="background-image: url(${products.image[0].url});width: 240px;height: 330px;
                            background-size: contain;background-repeat: no-repeat;"></div>
                        </a>

                            <div class="product-details mt-3">
                                <h6>${products.product_name} </h6>
                                <div class="price">
                                    <h6>₹ ${products.finalPrice}</h6>
                                    <h6 class="l-through">₹ ${products.price} </h6>
                                </div>
                                <div class="prd-bottom">

                                    <a class="social-info" onclick="cart('${products._id}')">
                                        <span class="ti-bag"></span>
                                        <p class="hover-text">add to bag</p>
                                    </a>
                                    <a class="social-info" onclick="wishlist('${products._id}')">
                                        <span class="lnr lnr-heart"></span>
                                        <p class="hover-text">Wishlist</p>
                                    </a>
                               
                                    <a href="/product?id=<${products._id}" class="social-info">
                                        <span class="lnr lnr-move"></span>
                                        <p class="hover-text">view more</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>`
                    datas.innerHTML = allProducts
                }
            })
        }
    </script>
    <script>
        //  let filter = document.querySelector('#filter')
         let form = document.querySelector('#form')
         const datas = document.getElementById("products")
            let allProducts = '';
    
    // filter.addEventListener("click", (e)=> {
    //   e.preventDefault();
    function filter(){
      console.log("#################################")

      const brand =form.elements.brand.value;
      const ram =form.elements.ram.value;
      const memory =form.elements.memory.value;
      const discount =form.elements.discount.value;
      const price =form.elements.price.value;
      const sort =form.elements.sort.value;
     
      datas.innerHTML ="";

      fetch('/filter', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({brand,ram,memory,discount,price,sort})
            }).then(res=> res.json()).then(data=>{
                
                for (products of data.product) {
                    allProducts += `<div class="col-lg-4 col-md-6">
                        <div class="single-product">
                            
                         <a href="/product?id=${products._id}">
                            <div style="background-image: url(${products.image[0].url});width: 240px;height: 330px;
                            background-size: contain;background-repeat: no-repeat;"></div>
                        </a>

                            <div class="product-details mt-3">
                                <h6>${products.product_name} </h6>
                                <div class="price">
                                    <h6>₹ ${products.finalPrice}</h6>
                                    <h6 class="l-through">₹ ${products.price} </h6>
                                </div>
                                <div class="prd-bottom">

                                    <a class="social-info" onclick="cart('${products._id}')">
                                        <span class="ti-bag"></span>
                                        <p class="hover-text">add to bag</p>
                                    </a>
                                    <a class="social-info" onclick="wishlist('${products._id}')">
                                        <span class="lnr lnr-heart"></span>
                                        <p class="hover-text">Wishlist</p>
                                    </a>
                               
                                    <a href="/product?id=<${products._id}" class="social-info">
                                        <span class="lnr lnr-move"></span>
                                        <p class="hover-text">view more</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>`
                    datas.innerHTML = allProducts
                }
                allProducts = "";
                
            })
    }
    </script>
     <script src="http://code.jquery.com/jquery-1.9.1.js"></script>

     <script src="http://code.jquery.com/jquery-migrate-1.1.0.js"></script>
    <script>
        $(function(){
    $('input[name="brand"]').click(function(){
        var $radio = $(this);
        if ($radio.data('waschecked') == true)
        {
            $radio.prop('checked', false);
            $radio.data('waschecked', false);
        }
        else{           
            $radio.data('waschecked', true);
        }
        $radio.siblings('input[name="brand"]').data('waschecked', false);
    });
});
$(function(){
    $('input[name="ram"]').click(function(){
        var $radio = $(this);
        if ($radio.data('waschecked') == true)
        {
            $radio.prop('checked', false);
            $radio.data('waschecked', false);
        }
        else{           
            $radio.data('waschecked', true);
        }
        $radio.siblings('input[name="ram"]').data('waschecked', false);
    });
});
$(function(){
    $('input[name="memory"]').click(function(){
        var $radio = $(this);
        if ($radio.data('waschecked') == true)
        {
            $radio.prop('checked', false);
            $radio.data('waschecked', false);
        }
        else{           
            $radio.data('waschecked', true);
        }
        $radio.siblings('input[name="memory"]').data('waschecked', false);
    });
});
$(function(){
    $('input[name="discount"]').click(function(){
        var $radio = $(this);
        if ($radio.data('waschecked') == true)
        {
            $radio.prop('checked', false);
            $radio.data('waschecked', false);
        }
        else{           
            $radio.data('waschecked', true);
        }
        $radio.siblings('input[name="discount"]').data('waschecked', false);
    });
});
$(function(){
    $('input[name="price"]').click(function(){
        var $radio = $(this);
        if ($radio.data('waschecked') == true)
        {
            $radio.prop('checked', false);
            $radio.data('waschecked', false);
        }
        else{           
            $radio.data('waschecked', true);
        }
        $radio.siblings('input[name="price"]').data('waschecked', false);
    });
});
    </script>