<% layout('./layout/boilerplate') %>
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Product Details</h1>
                <nav class="d-flex align-items-center">
                    <a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="/product?id=<%= product._id %>"><%= product.product_name %></a>
                    
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Single Product Area =================-->
<div class="product_image_area">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">
                <div class="s_Product_carousel">
                    <% product.image.forEach(function(img) {  %>
                        <img src="<%=img.url %>" class="img-thumbnail" alt="">
                        <% })%>
                    <!-- <div class="single-prd-item">
                        <img class="img-fluid" src="img/category/s-p1.jpg" alt="">
                    </div>
                    <div class="single-prd-item">
                        <img class="img-fluid" src="img/category/s-p1.jpg" alt="">
                    </div>
                    <div class="single-prd-item">
                        <img class="img-fluid" src="img/category/s-p1.jpg" alt="">
                    </div> -->
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <h3><%= product.product_name %></h3>
                    <h2>₹<%= product.finalPrice %> </h2>
                   
                    <ul class="list">
                        <% if(stock.stock>10){ %> 
                        <li class="text-success"><span>Availibility</span> : In Stock</li>
                        <% }else if(stock.stock>0){ %>
                            <li class="text-danger"><span>Availibility</span> : <%= stock.stock %> Left</li>
                        <% }else{ %>
                            <li class="text-danger"><span>Availibility</span> : Out Of Stock</li>
                            <% } %>   
                    </ul>
                    <p><%= product.description %> </p>
                   
                    <div class="product_count">
                        <label for="qty">Quantity:</label>
                        <input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:" class="input-text qty" data-stock="<%= stock.stock %>">
                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )&& sst< Number(result.dataset.stock) ) result.value++;return false;"
                         class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) && sst > 1 ) result.value--;return false;"
                         class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
                    </div>
                    <div class="card_area d-flex align-items-center" >
                        <% if(stock.stock == 0){ %> 
                        <a  class="primary-btn text-light"  style="pointer-events: none;">Add to Cart</a>
                        <% }else{ %> 
                            <a  class="primary-btn text-light" onclick="cart('<%= product._id %>')" >Add to Cart</a>

                            <% } %> 
                      

                        <!-- <a class="icon_btn" href="#"><i class="lnr lnr lnr-diamond"></i></a> -->
                        <a class="icon_btn" onclick="wishlist('<%= product._id %>')"><i class="lnr lnr lnr-heart"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Single Product Area =================-->

<!--================Product Description Area =================-->
<section class="product_description_area">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Description</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                 aria-selected="false">Specification</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                 aria-selected="false">Comments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
                 aria-selected="false">Reviews</a>
            </li> -->
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                <p><%= product.description %></p>
            </div>
            <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <h5>name</h5>
                                </td>
                                <td>
                                    <h5><%= product.product_name %></h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>RAM</h5>
                                </td>
                                <td>
                                    <h5><%= product.ram %>GB</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Internal Storage</h5>
                                </td>
                                <td>
                                    <h5><%= product.memory %>GB</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Battery</h5>
                                </td>
                                <td>
                                    <h5><%= product.battery %>mAh</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Quality checking</h5>
                                </td>
                                <td>
                                    <h5>yes</h5>
                                </td>
                            </tr>
                            
                            <tr>
                                <td>
                                    <h5>When packeting</h5>
                                </td>
                                <td>
                                    <h5>Without touch of hand</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Box contains</h5>
                                </td>
                                <td>
                                    <h5>Handset, Adapter, USB Type C Cable, Sim Eject Tool, Quick Start Guide, Warranty Card</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Warranty Summary</h5>
                                </td>
                                <td>
                                    <h5>1 year</h5>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
           
        </div>
    </div>
</section>
<!--================End Product Description Area =================-->

<script>
    function wishlist(productId){
        fetch("/wishlistPost",{
            method:"post",
            headers:{ 'Content-Type': 'application/json'},
            body: JSON.stringify({ productId })
        }).then(res =>res.json()).then(data=>{
            
            if(data.login == false){
               
                window.location = "/login";
            }
        })
    }
</script>

<script>
    function cart(productId){
        const product_quantity = document.getElementById("sst").value
        fetch("/cartAdd",{
            method:"post",
            headers:{ 'Content-Type': 'application/json'},
            body: JSON.stringify({ productId,product_quantity })
        }).then(res =>res.json()).then(data=>{
            
            if(data.login == false && data.stock.stock == 0 ){
               
               swal("Out Of Stock!");
           }else if(data.login == false){
               window.location = "/login";
           }
        })
    }
</script>