<% layout('./layout/boilerplate') %>

<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Wishlist</h1>
                <nav class="d-flex align-items-center">
                    <a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="/mobile">Wishlist</a>
                    
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

            <!-- Start Best Seller -->
            <section class="lattest-product-area pb-40 category-list container-fluid col-12 d-flex justify-content-center">
                <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="row">
                    <!-- single product -->
                    <% for( product of wished){ %> 
                        <% for(products of product.products){ %> 

                    <div class="col-lg-4 col-sm-6" id="div<%= products._id %>">
                        <div class="single-product">
                            
                            
                            <div style="background-image: url(<%=products.image[0].url%>);width: 240px;height: 330px;background-size: contain;background-repeat: no-repeat;"></div>
                            <div class="product-details">
                                <h6><%= products.product_name %> </h6>
                                <div class="price">
                                    <h6>₹ <%= products.finalPrice %> </h6>
                                    <h6 class="l-through">₹ <%= products.price %> </h6>
                                </div>
                                <div class="prd-bottom">

                                    <a href="" class="social-info">
                                        <span class="ti-bag"></span>
                                        <p class="hover-text">add to bag</p>
                                    </a>
                                    <a class="social-info" onclick="wishlist('<%= products._id %>')">
                                        <span class="lnr lnr-heart"></span>
                                        <p class="hover-text">Wishlist</p>
                                    </a>
                                    
                                    
                                    <a href="" class="social-info">
                                        <span class="lnr lnr-move"></span>
                                        <p class="hover-text">view more</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }} %> 
                    <!-- single product -->
                    
                </div>
            </div>
            </section>
            <!-- End Best Seller -->
            <!-- Start Filter Bar -->
           
            <!-- End Filter Bar -->
        </div>
    </div>
</div>

<!-- Start related-product Area -->

<!-- End related-product Area -->
<script>
    
    function wishlist(productId){
        let pid = String(productId)
        const id = document.getElementById("div"+pid)
      
        fetch("/wishlistDelete",{
            method:"post",
            headers:{ 'Content-Type': 'application/json'},
            body: JSON.stringify({ productId }) 
        }).then(res =>res.json()).then(data=>{
            
            if(data.login == true){
              
               id.remove()
               

               
            }
        })
    }
</script>
