<% layout('./layout/boilerplateAdmin') %> <%-
include('../partials/adminSideBar') %> <%- include('../partials/adminNavbar') %>
<div class="clearfix"></div>
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">ADD PRODUCTS</h5>

          <div class="tab-pane" id="edit">
            <form
              action="/admin/addProductPost"
              method="post"
              enctype="multipart/form-data"
            >
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label"
                  >Product Name</label
                >
                <div class="col-lg-9">
                  <input class="form-control" type="text" name="product_name" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label"
                  >Category</label
                >
                <div class="col-lg-9">
                  <select name="category_id" id="category" class="form-control">
                    <%for(value of category){ %>
                    <option value="<%=value._id%>"><%=value.category%></option>
                    <%}%>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label"
                  >Brand</label
                >
                <div class="col-lg-9">
                  <select name="brand_id" id="brand" class="form-control">
                    <% for(values of brand ){ %>
                    <option value="<%=values._id%>"><%= values.brand%></option>
                    <% } %>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label"
                  >RAM (GB)</label
                >
                <div class="col-lg-9">
                  <input class="form-control" type="number" name="ram" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label"
                  >Internal Memory (GB)</label
                >
                <div class="col-lg-9">
                  <input class="form-control" type="number" name="internal" />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label"
                  >Battery (mAh)</label
                >
                <div class="col-lg-9">
                  <input
                    class="form-control"
                    type="number"
                    value=""
                    name="battery"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label"
                  >Price</label
                >
                <div class="col-lg-4">
                  <input
                    class="form-control"
                    type="text"
                    value=""
                    name="price"
                  />
                </div>
                <label class="col-lg-1 col-form-label form-control-label"
                  >Discount (%)</label
                >
                <div class="col-lg-4">
                  <input
                    class="form-control"
                    type="text"
                    value=""
                    name="discount"
                  />
                </div>
              </div>

              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label"
                  >Description</label
                >
                <div class="col-lg-9">
                  <textarea
                    name="description"
                    id="discription"
                    cols="30"
                    rows="10"
                    class="form-control"
                  ></textarea>
                  <!-- <input class="form-control" type="" value="jhonsanmark" /> -->
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label"
                  >Images</label
                >
                <div class="col-lg-9">
                  <input
                    class="form-control"
                    type="file"
                    value=""
                    name="image"
                    multiple
                  />
                </div>
              </div>
              <!-- <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label"
                  >Confirm password</label
                >
                <div class="col-lg-9">
                  <input
                    class="form-control"
                    type="password"
                    value="11111122333"
                  />
                </div>
              </div> -->
              <div class="form-group row">
                <label
                  class="col-lg-3 col-form-label form-control-label"
                ></label>
                <div class="col-lg-9">
                  <input
                    type="reset"
                    class="btn btn-secondary"
                    value="Cancel"
                  />
                  <input type="submit" class="btn btn-primary" value="Save" />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
