<% layout('./layout/boilerplateAdmin') %> <%-
include('../partials/adminSideBar') %> <%- include('../partials/adminNavbar') %>

<div class="clearfix"></div>

<div class="content-wrapper">
  <div class="container-fluid html-content">
    <button class="customButton-white" onclick="CreatePDFfromHTML()">Download PDF</button>
    <!--Start Dashboard Content-->

    <div class="card3 mt-3" id="card">
      <div class="card-content">
        <div class="row row-group m-0">
          <div class="col-12 col-lg-6 col-xl-3 border-light">
            <div class="card-body">
              <h3 class="text-white mb-0">
                <%= orders.length %> 
                <span class="float-right"
                  ><i class="fa fa-shopping-cart"></i
                ></span>
              </h3>
              <div class=" my-5" >
                
              </div>
              <h4 class="mb-0 text-white small-font">
                Total Orders
                
              </h4>
            </div>
          </div>
          <div class="col-12 col-lg-6 col-xl-3 border-light">
            <div class="card-body">
              <h3 class="text-white mb-0">
                <%= revenue %>  <span class="float-right"><i class="fa fa-inr"></i></span>
              </h3>
              <div class=" my-5">
                
              </div>
              <h4 class="mb-0 text-white small-font">
                Total Revenue
                
              </h4>
            </div>
          </div>
          <div class="col-12 col-lg-6 col-xl-3 border-light">
            <div class="card-body">
              <h3 class="text-white mb-0">
                <%= users.length %>  <span class="float-right"><i class="fa fa-eye"></i></span>
              </h3>
              <div class=" my-5">
                
              </div>
              <h4 class="mb-0 text-white small-font">
                Total Users
                
              </h4>
            </div>
          </div>
          <div class="col-12 col-lg-6 col-xl-3 border-light">
            <div class="card-body">
              <h3 class="text-white mb-0">
                <%= delivered %> 
                <span class="float-right"><i class="fa fa-envira"></i></span>
              </h3>
              <div class=" my-5">
                
              </div>
              <h4 class="mb-0 text-white small-font">
                Compleated Orders
               
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-lg-8 col-xl-8">
        <div class="card3" id="card2">
          <div class="card-header">
            Sales Report
            <div class="card-action">
              
            </div>
          </div>
          <div class="card-body">
            <input type="text" id="jan" value="<%= jan %>" hidden>
            <input type="text" id="feb" value="<%= feb %>" hidden>
            <input type="text" id="mar" value="<%= mar %>" hidden>
            <input type="text" id="apr" value="<%= apr %>" hidden>
            <input type="text" id="may" value="<%= may %>" hidden>
            <input type="text" id="jun" value="<%= jun %>" hidden>
            <input type="text" id="jul" value="<%= jul %>" hidden>
            <input type="text" id="aug" value="<%= aug %>" hidden>
            <input type="text" id="sep" value="<%= sep %>" hidden>
            <input type="text" id="oct" value="<%= oct %>" hidden>
            <input type="text" id="nov" value="<%= nov %>" hidden>
            <input type="text" id="dec" value="<%= dec %>" hidden>
            <div class="chart-container-1">
              <canvas id="chart1"></canvas>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-4 col-xl-4">
        <div class="card3" id="card3">
          <div class="card-header">
            Order Status
            <div class="card-action">
             
            </div>
          </div>
          <div class="card-body">
            <div class="chart-container-2">
              <canvas id="chart2"></canvas>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center">
              <tbody>
                <tr>
                  <td><i class="fa fa-circle text-white mr-2"></i> Ordered</td>
                  <td id="ordered"><%= ordered %> </td>
                  
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-circle text-light-1 mr-2"></i>Packed
                  </td>
                  <td id="packed"><%= packed %> </td>
                 
                </tr>
                <tr>
                  <td><i class="fa fa-circle text-light-2 mr-2"></i>Shipped</td>
                  <td id="shipped"><%= shipped %></td>
                  
                </tr>
                <tr>
                  <td><i class="fa fa-circle text-light-3 mr-2"></i>Cancelled</td>
                  <td id="cancelled"><%= cancelled %> </td>
                  
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!--End Row-->

   
    <!--End Row-->

    <!--End Dashboard Content-->

    <!--start overlay-->
    <div class="overlay toggle-menu"></div>
    <!--end overlay-->
  </div>
  <!-- End container-fluid-->
</div>
<!--End content-wrapper-->
<!--Start Back To Top Button-->
<a href="javaScript:void();" class="back-to-top"
  ><i class="fa fa-angle-double-up"></i>
</a>
<!--End Back To Top Button-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
<script type="text/javascript" src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
<script>
  //Create PDf from HTML...
function CreatePDFfromHTML() {
    var HTML_Width = $(".html-content").width();
    var HTML_Height = $(".html-content").height();
    var top_left_margin = 15;
    var PDF_Width = HTML_Width + (top_left_margin * 2);
    var PDF_Height = (PDF_Width * 1.5) + (top_left_margin * 2);
    var canvas_image_width = HTML_Width;
    var canvas_image_height = HTML_Height;

    var totalPDFPages = Math.ceil(HTML_Height / PDF_Height) - 1;
    // document.getElementById("card").style.background="black"
    // document.getElementById("card2").style.background="black"
    // document.getElementById("card3").style.background="black"

    html2canvas($(".html-content")[0]).then(function (canvas) {
        var imgData = canvas.toDataURL("image/jpeg", 1.0);
        var pdf = new jsPDF('p', 'pt', [PDF_Width, PDF_Height]);
        pdf.addImage(imgData, 'JPG', top_left_margin, top_left_margin, canvas_image_width, canvas_image_height);
        for (var i = 1; i <= totalPDFPages; i++) { 
            pdf.addPage(PDF_Width, PDF_Height);
            pdf.addImage(imgData, 'JPG', top_left_margin, -(PDF_Height*i)+(top_left_margin*4),canvas_image_width,canvas_image_height);
        }
        pdf.save("Your_PDF_Name.pdf");
        // $(".html-content").hide();
    //     document.getElementById("card").style.background=rgba(0, 0, 0, 0.2);
    // document.getElementById("card2").style.background=rgba(0, 0, 0, 0.2);
    // document.getElementById("card3").style.background=rgba(0, 0, 0, 0.2);
    });
    
}
</script>
