<% layout('./layout/boilerplateAdmin') %> <%-
include('../partials/adminSideBar') %> <%- include('../partials/adminNavbar') %>
<div class="clearfix"></div>
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">EDIT PRODUCTS</h5>

          <div class="tab-pane" id="edit">
            <form
              action="/admin/editProductEdit/<%= product._id %>?_method=PUT"
              method="post"
              enctype="multipart/form-data"
            >
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label"
                  >Product Name</label
                >
                <div class="col-lg-9">
                  <input
                    class="form-control"
                    type="text"
                    name="product_name"
                    value="<%= product.product_name %> "
                  />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label"
                  >Category</label
                >
                <div class="col-lg-9">
                  <select name="category_id" id="category" class="form-control">
                      <%for(value of categoryFind){%>
                                                                    <option value="<%=value._id%>"
                                                                        <%if(categorylook[0].category[0].category==(value.category)){
                                                                        %> selected
                                                                        <%}%>>
                                                                            <%=value.category%>
                                                                    </option>
                                                                    <% } %>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label"
                  >Brand</label
                >
                <div class="col-lg-9">
                  <select name="brand_id" id="brand" class="form-control">
                   <% for(value of brandFind){ %>
                                                            <option value="<%=value.id%>"
                                                                <%if(brandlook[0].brand[0].brand==(value.brand)){ %>"
                                                                selected
                                                                <%}%>>
                                                                    <%=value.brand%>
                                                            </option>
                                                            <% } %>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label"
                  >RAM (GB)</label
                >
                <div class="col-lg-9">
                  <input
                    class="form-control"
                    type="text"
                    name="ram"
                    value="<%= product.ram %> "
                  />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label"
                  >Internal Memory (GB)</label
                >
                <div class="col-lg-9">
                  <input
                    class="form-control"
                    type="text"
                    name="internal"
                    value="<%= product.memory %> "
                  />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label"
                  >Battery (mAh)</label
                >
                <div class="col-lg-9">
                  <input
                    class="form-control"
                    type="text"
                    value="<%= product.battery %> "
                    name="battery"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label"
                  >MRP</label
                >
                <div class="col-lg-3">
                  <input
                    class="form-control"
                    type="text"
                    value="<%= product.price %> "
                    name="price"
                  />
                </div>
                <label class="col-lg-1 col-form-label form-control-label"
                  >Discount (%)</label
                >
                <div class="col-lg-2">
                  <input
                    class="form-control"
                    type="text"
                    value="<%= product.discount %> "
                    name="discount"
                  />
                </div>
                <label class="col-lg-1 col-form-label form-control-label"
                  >Price</label
                >
                <div class="col-lg-2">
                  <input
                    class="form-control"
                    type="text"
                    value="<%= product.finalPrice %> "
                    name="finalPrice"
                  />
                </div>
              </div>

              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label"
                  >Description</label
                >
                <div class="col-lg-9">
                  <textarea
                    name="description"
                    id="discription"
                    cols="30"
                    rows="10"
                    class="form-control"
                  >
<%= product.description %> </textarea
                  >
                  <!-- <input class="form-control" type="" value="jhonsanmark" /> -->
                </div>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label"
                  >Images</label
                >
                <div class="col-lg-9">
                  <input
                    class="form-control"
                    type="file"
                    value=""
                    name="image"
                    multiple
                  />
                </div>
              </div>
              <div class="mb-3">
                <% product.image.forEach(function(img, i) {  %>
                <img src="<%=img.thumbnail %>" class="img-thumbnail" alt="">
                <div class="form-check-inline">
                    <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                </div>
                <label for="image-<%=i%>">Delete?</label>
                <% })%>
            </div>

              <div class="form-group row">
                <label
                  class="col-lg-3 col-form-label form-control-label"
                ></label>
                <div class="col-lg-9">
                  <input
                    type="reset"
                    class="btn btn-secondary"
                    value="Cancel"
                  />
                  <input type="submit" class="btn btn-primary" value="Save" />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
